<div class="footer">
    <div class="wrrap-footer">
        <div class="grid wide">
            <div class="row row-footer-first">
                <div class="col l-3 m-6 c-12">
                    <div class="h3 footer__heading">Về Nội thất Quý Thiện</div>
                    <ul class="footer-list">
                        <li class="footer-item">
                            Địa chỉ: xóm 30, Hải Minh, Hải Hậu, Nam Định
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item-link">Điện thoại, Zalo: 0362 054 555 </a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item-link"> Website: www.noithatquythien.vn </a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item-link"> Facebook: www.noithatquythien.vn </a>
                        </li>
                    </ul>
                </div>
                <div class="col l-3 m-6 c-12">
                    <div class="h3 footer__heading">Hỗ trợ khách hàng</div>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="/huong-dan-dat-hang" class="footer-item-link">Hướng dẫn đặt hàng</a>
                        </li>
                        <li class="footer-item">
                            <a href="/mua-hang-thanh-toan" class="footer-item-link">Mua hàng - Thanh toán</a>
                        </li>
                        <li class="footer-item">
                            <a href="/phuong-thuc-van-chuyen" class="footer-item-link">Phương thức vận chuyển</a>
                        </li>
                        <li class="footer-item">
                            <a href="/giai-quyet-su-co" class="footer-item-link">Giải quyết sự cố</a>
                        </li>
                    </ul>
                </div>
                <div class="col l-3 m-6 c-12">
                    <div class="h3 footer__heading">Chính sách</div>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="/chinh-sach-ban-hang" class="footer-item-link">Chính sách bán hàng</a>
                        </li>
                        <li class="footer-item">
                            <a href="/chinh-sach-bao-hanh" class="footer-item-link">Chính sách bảo hành</a>
                        </li>
                        <li class="footer-item">
                            <a href="/chinh-sach-hoat-dong" class="footer-item-link">Chính sách hoạt động</a>
                        </li>
                        <li class="footer-item">
                            <a href="/chinh-sach-giam-gia-tri-an" class="footer-item-link">Chính sách giảm giá-tri ân</a>
                        </li>
                    </ul>
                </div>
                <div class="col l-3 m-6 c-12">
                    <div class="h3 footer__heading">Liên hệ để được hỗ trợ & tư vấn</div>
                    <div class="QR">
                        <span class="QR_text">ZALO: 0362 054 555</span>
                        <img src="/img/T_QR_zalo.jpg" alt="" class="QR_zalo_T">
                        <span class="QR_text-decs">Mở Zalo, bấm quét QR để quét và xem trên điện thoại</span>
                    </div>

                </div>

            </div>
            <div class="row row-footer-social">
                <ul class="footer-social-list">
                    <li class="footer-social-item">
                        <a href="" class="footer-social-item-link">
                            <i class="footer-social-item-icon fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a href="" class="footer-social-item-link">
                            <i class="footer-social-item-icon fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a href="" class="footer-social-item-link">
                            <i class="footer-social-item-icon fab fa-youtube"></i>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a href="" class="footer-social-item-link">
                            <i class="footer-social-item-icon  fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a href="" class="footer-social-item-link">
                            <i class="footer-social-item-icon fab fa-pinterest-p"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row row-footer-copyright ">
                <div class="footer__copright">
                    <p>
                        NỘI THẤT QUÝ THIỆN
                        <i class="fas fa-copyright"></i> 2017 NOITHATQUYTHIEN.COM ALL RIGHTS RESERVED.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>