<div class="category">
    <h3 class="category__heading">
        <i class="category__heading-icon fas fa-list"></i>DANH MỤC</h3>
    <ul class="category-list">
       
        <li class="category-item">
            <a href="" class="category-item__link"> Bàn ghế-Salong</a>
        </li>
        <li class="category-item">
            <a href="" class="category-item__link">Bàn trang điểm</a>
        </li>
        <li class="category-item">
            <a href="" class="category-item__link">Đồ thờ</a>
        </li>
        <li class="category-item">
            <a href="" class="category-item__link">Đồ đồng hồ</a>
        </li>
         <li class="category-item ">
            <a href="" class="category-item__link ">Trường kỉ</a>
        </li>
        <li class="category-item">
            <a href="" class="category-item__link">Tủ - Kệ</a>
        </li>
  
        <li class="category-item">
            <a href="" class="category-item__link">Giường</a>
        </li>
        <li class="category-item">
            <a href="" class="category-item__link">Hoàng phi - Câu đối - Cuốn thư - Tranh</a>
        </li>
        <li class="category-item">
            <a href="" class="category-item__link">Sập gỗ</a>
        </li>
        
        <li class="category-item">
            <a href="" class="category-item__link">Đồ mĩ nghệ khác</a>
        </li>

    </ul>

</div>
<div class="category">
    <h3 class="category__heading">
        <i class="category__heading-icon fas fa-blog"></i> CHUYÊN SAN</h3>
    <ul class="category-list">
        <li class="category-item ">
            <a href="" class="category-item__link ">Tất cả</a>
        </li>
         <li class="category-item ">
            <a href="" class="category-item__link ">Làng nghề Hải Minh</a>
        </li>
        <li class="category-item">
            <a href="" class="category-item__link">Các loại gỗ</a>
        </li>
        <li class="category-item">
            <a href="" class="category-item__link">Các loại tượng gỗ</a>
        </li>
        <li class="category-item">
            <a href="" class="category-item__link">Đồng hồ gỗ</a>
        </li>
        <li class="category-item">
            <a href="" class="category-item__link">Nội thất gỗ</a>
        </li>
        <li class="category-item">
            <a href="" class="category-item__link">Tranh gỗ</a>
        </li>
        <li class="category-item">
            <a href="" class="category-item__link">Khay trà - dụng cụ trà đạo</a>
        </li>
        <li class="category-item">
            <a href="" class="category-item__link">Kiến thức</a>
        </li>

    </ul>

    {{!-- <div class="facebook-page">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%C4%90%E1%BB%93-g%E1%BB%97-m%E1%BB%B9-ngh%E1%BB%87-cao-c%E1%BA%A5p-106132241526731%2F&tabs=timeline&width=275px&height=350px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
            width="275px" height="350px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div> --}}
</div>
<div class="category">
    <h3 class="category__heading">CHÍNH SÁCH BÁN HÀNG</h3>
    <ul class="category-list">
        <li class="category-item ">
            <a href="/chinh-sach-ban-hang" class="category-item__link ">Chính sách bán hàng</a>
        </li>
        <li class="category-item">
            <a href="/chinh-sach-bao-hanh" class="category-item__link">Chính sách bảo hành</a>
        </li>
        <li class="category-item">
            <a href="/quy-che-hoat-dong" class="category-item__link">Quy chế hoạt động</a>
        </li>
        <li class="category-item">
            <a href="/chinh-sach-giam-gia-tri-an" class="category-item__link">Chính sách giảm giá - tri ân</a>
        </li>
    </ul>

    {{!-- <div class="facebook-page">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%C4%90%E1%BB%93-g%E1%BB%97-m%E1%BB%B9-ngh%E1%BB%87-cao-c%E1%BA%A5p-106132241526731%2F&tabs=timeline&width=275px&height=350px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
            width="275px" height="350px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div> --}}
</div>
<div class="facebook-page hide-on-mobile-tablet">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%C4%90%E1%BB%93-g%E1%BB%97-m%E1%BB%B9-ngh%E1%BB%87-cao-c%E1%BA%A5p-106132241526731%2F&tabs=timeline&width=275px&height=350px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
            width="100%" height="350px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
</div>