<div class="col l-12 m-12 c-12">
    <div class="slideShow-container">
        <div class="mySlides fade">
            <div class="numbertext">1 / 5</div>
            <img src="/img/slideshow/slideShow1.png" style="width:100%">
            <div class="text">nội thất quý thiện</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">2 / 5</div>
            <img src="/img/slideshow/slideShow2.png" style="width:100%">
            <div class="text">Tôn vinh ngôi nhà Việt</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">3 / 5</div>
            <img src="/img/slideshow/slideShow3.png" style="width:100%">
            <div class="text">Tư vấn, thiết kế miễn phí</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">4 / 5</div>
            <img src="/img/slideshow/slideShow4.png" style="width:100%">
            <div class="text">Giao hàng tận nơi, thanh toán khi nhận hàng</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">5 / 5</div>
            <img src="/img/slideshow/slideShow5.png" style="width:100%">
            <div class="text">Bảo hành miễn phí, tri ân khách hàng.</div>
        </div>
        <a class="prev" onclick="plusSlides(-1)"><i class="fas fa-angle-left"></i></a>
        <a class="next" onclick="plusSlides(1)"><i class="fas fa-angle-right"></i></a>
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
    </div>
</div>
<div class="col l-12 m-12 c-12">
    <div class="mt-12-panigation"></div>
</div>
<div class="col l-3 m-6 c-12">
    <li class="containerInfo__item ">
        <span class="containerInfo__item__img "><i class="fas fa-retweet"></i></span>
        <span class="containerInfo__item__text"><span class="text-important">tư vấn 24/7</span> miễn phí</span>
    </li> 
</div>

<div class="col l-3 m-6 c-12">
    <li class="containerInfo__item">
        <span class="containerInfo__item__img "><i class="fas fa-truck-moving"></i></span>
        <span class="containerInfo__item__text">Vận chuyển <span class="text-important">miễn phí</span></span>
    </li>  
          
</div>
<div class="col l-3 m-6 c-12">
    <li class="containerInfo__item">
        <span class="containerInfo__item__img "><i class="fas fa-money-bill"></i></span>
        <span class="containerInfo__item__text"><span class="text-important">Nhận hàng</span> nhận tiền</span>
    </li>  
</div>
<div class="col l-3 m-6 c-12">
    <li class="containerInfo__item">
        <span class="containerInfo__item__img "><i class="fas fa-phone"></i></span>
        <span class="containerInfo__item__text">Gọi ngay: <span class="text-important">0362 054 555</span></span>
    </li>
</div>
<div class="col l-12 m-12 c-12">
    <div class="mt-12-panigation"></div>
</div>



{{!-- slideshow demo --}}


