<script>
    document.title("Giải quyết sự cố");
</script>
<div class="row sm-gutter-32">
    <div class="wrrap-home">
        <a href="/" class="text-home">Trang chủ</a>
        <span class="text-home active-page">>></span>
        <a href="#" class="text-home active-page">Hướng dẫn khách hàng/Xử lí sự cố</a>
        <div class="pagination"></div>
        <h1>Xử lí sự cố</h1>
    </div>
</div>


<div class="row sm-gutter-32">
    <p class="info-text">Trong quá trình tư vấn, đặt hành, vận chuyển mà xảy ra sự cố thì sẽ được xử lí như sau:</p>
    <p class="info-text">- Sản phẩm bàn giao không giống mẫu thì sẽ được hoàn trả 100%, chi phí vận chuyển do Công ty chịu trách nhiệm.</p>
    <p class="info-text">- Quá trình vận chuyển ảnh hưởng đến sản phẩm: trầy xướt, không còn tem nem phong: tùy mức độ hư
         hại và trao đổi với Quý khách hàng để có chính sách đền bù hoặc hoàn trả/đổi.
    </p>
    <p class="info-text">- Mọi sản phẩm buôn bán mà không có tem niêm phong của Công ty đều là giả mạo, Nội Thất Quý Thiện không 
        chịu trách nhiệm với các hình thức lừa đảo buôn bán lấy danh nghĩa công ty.
    </p>
    <p class="info-text">- Sản phẩm giao không đúng thời hạn: thỏa thuận, trao đổi trực tiếp với khách hàng.</p>
</div>
<div class="row sm-gutter-32">
    <div class="info-contact">
        <div class="pagination"></div>
        <p class="text-brand">NỘI THẤT QUÝ THIỆN</p>
        <p class="info-text-1">Fanpage: <a href="https://www.facebook.com/NoiThatQuyThien" class="text-link">Nội Thất Quý Thiện</a></p>
        <p class="info-text-1">Nội thất Quý Thiện: <a href="https://www.noithatquythien.vn" class="text-link">Tôn vinh ngôi nhà Việt</a></p>
        <p class="info-text-1">Hotline:<a href="tel: 0362 054 555" class="text-link">0362 054 555</a> </p>
        <p class="info-text-1">Giao hàng toàn quốc, thanh toán sau khi nhận và kiểm tra hàng!</p>
    </div>
</div>