<div class="row sm-gutter-32">
    <div class="wrrap-home">
        <a href="/" class="text-home">Trang chủ</a>
        <span class="text-home active-page">>></span>
        <a href="#" class="text-home active-page">Hỗ trợ khách hàng/Hướng dẫn đặt hàng</a>
        <div class="pagination"></div>
        <h1>Hướng dẫn đặt hàng</h1>
    </div>
</div>

<div class="row sm-gutter-32">
 <div class="operate mt-36">
     <img src="/img/operate.png" alt="Quy trình mua hàng" class="operate-img">
 </div>
 <div class="operate-detail">
     <p class="text-brand">QUY TRÌNH MUA/BÁN HÀNG TRÊN MẠNG</p>
     <ul class="policy-list">
         <li class="info-text-head">Tiếp cận khách hàng</li>
            <p class="info-text">Khách hàng có thể đặt hàng trực tiếp qua website hoặc liên hệ trực tiếp qua Mạng truyền thông để nhận được sự tư vấn chi tiết:</p>
            <p class="info-text">- Điện thoại, Zalo: <a href="tel:0362 054 555" class="text-link">0362 054 555</a></p>
            <p class="info-text">- Email: <a class="text-link" href="mailto:lienhe@noithatquythien.vn">lienhe@noithatquythien.vn</a></p>
            <p class="info-text">- Facebook: <a class="text-link" href="https://www.facebook.com/NoiThatQuyThien">https://www.facebook.com/NoiThatQuyThien</a></p>
            <p class="info-text">- Website: <a class="text-link" href="https://www.noithatquythien.vn"> www.noithatquythien.vn</a></p>
            
         <li class="info-text-head">Tư vấn bán hàng</li>
            <p class="info-text">- Khách hàng sẽ được tư vấn về mẫu mã sản phẩm, chất liệu gỗ, thiết kế sản phẩm, chất lượng sản phẩm, giá bán, 
                thời gian giao hàng và số tiền phải đặt cọc/tạm ứng,...
            </p>
            <p class="info-text">- Khách hàng có thể xem hàng trực tiếp tại cửa hàng của đại lí tại địa chỉ: Xóm 10 tân tiến, xã Hải Minh, huyện Hải Hậu, tỉnh Nam Định.</p>
            <p class="info-text">- Với khách hàng không có khả năng xem trực tiếp thì sẽ được tư vấn, xem ảnh và các thông tin chi tiết của sản phẩm để tham khảo và xác nhận
                đơn hàng qua mạng.
            </p>
         <li class="info-text-head">Xác nhận đơn hàng</li>
            <p class="info-text">- Đơn hàng được xác nhận trực tiếp hoặc xác nhận qua các phương tiện truyền thông khác trên MẠNG (các thông tin trao đổi với khách hàng trên MẠNG có gía trị như các chứng từ gốc) 
                . Trường hợp đơn hàng có giá trị lớn thì tiến hành kí hợp đồng kinh tế.
            </p>
         <li class="info-text-head">Đặt cọc, tạm ứng</li>
            <p class="info-text">- Chuyển và nhận tiền đặt cọc (tiền mặt, hoặc tiền tạm ứng). Số tiền này sẽ được hoàn trả 100% nếu đơn hàng không được giao dịch.</p>
         <li class="info-text-head">Kiểm tra</li>
            <p class="info-text">- Với những đơn hàng có sẵn, sau khi thỏa thuận và kiểm tra, sẽ được vận chuyển sau 1-2/ngày xác nhận đơn hàng.</p>
            <p class="info-text">- Với những đơn hàng thiết kế, thời gian chuẩn bị sẽ được thỏa thuận trước khi xác nhận đơn hàng. Thời gian chi tiết tùy thuộc từng sản phẩm.</p>
            <p class="info-text">- Đơn hàng trước khi vận chuyển sẽ được kiểm tra chất lượng, mẫu mã chất liệu gỗ đúng với cam kết trong đơn hàng. Khi quá trình kiểm tra, trao đổi hoàn tất, đơn hàng ngay sau đó được bàn giao cho đơn vị vận chuyển để giao hàng.</p>
         <li class="info-text-head">Vận chuyển, lắp ráp</li>
            <p class="info-text">- Sản phẩm được đóng gói, niêm phong, nghiệm thu và bàn giao.</p>
            <p class="info-text">- Quá trình lắp rắp và bàn giao sẽ được thực hiện bởi nhân viên của đại lí.</p>
            <p class="info-text">- Sau khi bàn giao hoàn tất, khách hàng thanh toán số tiền còn lại.</p>
            <p class="info-text">- Khách hàng sẽ nhận được biên lai đơn hàng và phiếu bảo hành sản phẩm.</p>
         <li class="info-text-head">Bảo hành, chăm sóc khách hàng</li>
         <p class="info-text">- Lưu trữ dữ liệu thông tin, bảo hành, chăm sóc khách hàng.</p>
     </ul>
 </div>
</div>

<div class="row sm-gutter-32">
    <div class="info-contact">
        <div class="pagination"></div>
        <p class="text-brand">NỘI THẤT QUÝ THIỆN</p>
        <p class="info-text-1">Fanpage: <a href="https://www.facebook.com/NoiThatQuyThien" class="text-link">Nội Thất Quý Thiện</a></p>
        <p class="info-text-1">Nội thất Quý Thiện: <a href="https://www.noithatquythien.vn" class="text-link">Tôn vinh ngôi nhà Việt</a></p>
        <p class="info-text-1">Hotline:<a href="tel: 0362 054 555" class="text-link">0362 054 555</a> </p>
        <p class="info-text-1">Giao hàng toàn quốc, thanh toán sau khi nhận và kiểm tra hàng!</p>
    </div>
</div>