<div class="row sm-gutter-32">
    <div class="wrrap-home">
        <a href="/" class="text-home">Trang chủ</a>
        <span class="text-home active-page">>></span>
        <a href="#" class="text-home active-page">Hỗ trợ khách hàng/Mua hàng-Thanh toán</a>
        <div class="pagination"></div>
        <h1>Mua hàng - Thanh toán</h1>
    </div>
</div>

<div class="row sm-gutter-32">
   <ul class="policy-list">
        <p class="info-text">Để mua hàng Quý khách có thể lựa chọn các hình thức sau đây hình thức sau đây:</p>
       <li class="policy-list-item info-text-head ">Liên hệ trực tiếp</li>
            <p class="info-text">Quý khách có thể liên hệ trực tiếp với chúng tôi như sau:</p>
            <p class="info-text">1. Gọi điện thoại trực tiếp đến số: 0362 054 555</p>
            <p class="info-text">2. Nhắn tin qua SMS, Zalo, Viber qua số điện thoại: 0362 054 555</p>
            <p class="info-text">3. Nhắn tin qua fanpage tại góc bên dưới màn hình của Quý khách.</p>
            <p class="info-text">4. Gửi Email cho chúng tôi qua địa chỉ: lienhe@noithatquythien.vn</p>
       <li class="policy-list-item info-text-head">Đặt hàng trực tuyến</li>
            <p class="info-text">Khi Quý khách đã chọn được sản phẩm phù hợp với nhu cầu của mình thì quý khách có thể tiến hành mua hàng trực tuyến qua các bước như sau:</p>
            <p class="info-text"><span class="text-head-1">Bước 1</span>: Quý khách bấm vào ô <span class="text-highlight">Mua hàng</span>.</p>
            <p class="info-text"><span class="text-head-1">Bước 2</span>: Quý khách chọn vào mục <span class="text-highlight">Giỏ hàng</span> và chọn đến đơn hàng quý khách đã lựa chọn</p>
            <p class="info-text"><span class="text-head-1">Bước 3</span>: Quý khách bấm chọn <span class="text-highlight">Thanh toán</span> và <span class="text-highlight">điền đầy đủ thông tin giao hàng</span> để hệ thống tự động tính phí vận chuyển. (Lưu ý: Phí vận chuyển ở đây là tạm tính và có thể sẽ thay đổi tùy thuộc vào thời điểm).</p>
            <p class="info-text"><span class="text-head-1">Bước 4</span>: Sau khi quý khách bấm Đặt hàng Công ty chúng tôi sẽ chủ động liên hệ lại với quý khách để <span class="text-highlight">xác nhận lại đơn đặt hàng</span> đồng thời thống nhất với Quý khách những thông tin chi tiết và hướng dẫn chi tiết khách hàng các bước còn lại.</p>
       <li class="policy-list-item info-text-head">Phương thức thanh toán</li>
            <p class="info-text">- Quý khách có thể thanh toán trực tuyến qua tài khoản ngân hàng: Vietinbanh-NguyenVanA-0123456789.</p>
            <p class="info-text">- Quý khách có thể thanh toán bằng tiền mặt với nhân viên sau khi kiểm và nhận hàng.</p>
        <p class="info-text" style="color:rgb(209, 6, 6); font-size: 1.8rem; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style:italic;">Xin cảm ơn Quý khách và kính chúc Quý khách An Khang Thịnh Vượng!</p>
   </ul>
</div>

<div class="row sm-gutter-32">
    <div class="info-contact">
        <div class="pagination"></div>
        <p class="text-brand">NỘI THẤT QUÝ THIỆN</p>
        <p class="info-text-1">Fanpage: <a href="https://www.facebook.com/NoiThatQuyThien" class="text-link">Nội Thất Quý Thiện</a></p>
        <p class="info-text-1">Nội thất Quý Thiện: <a href="https://www.noithatquythien.vn" class="text-link">Tôn vinh ngôi nhà Việt</a></p>
        <p class="info-text-1">Hotline:<a href="tel: 0362 054 555" class="text-link">0362 054 555</a> </p>
        <p class="info-text-1">Giao hàng toàn quốc, thanh toán sau khi nhận và kiểm tra hàng!</p>
    </div>
</div>