<div class="row sm-gutter-32">
    <div class="wrrap-home">
        <a href="/" class="text-home">Trang chủ</a>
        <span class="text-home active-page">>></span>
        <a href="#" class="text-home active-page">Hỗ trợ khách hàng/Phương thức vận chuyển</a>
        <div class="pagination"></div>
        <h1>Phương thức vận chuyển</h1>
    </div>
</div>

<div class="row sm-gutter-32">
    <p class="info-text">Chi phí vận chuyển, lắp đặt sẽ được xác định cụ thể cho từng đơn hàng theo cự ly vận chuyển thực tế.
Thời gian giao hàng :</p>
    <p class="info-text">- Đối với những sản phẩm có sẵn thì thời gian giao hàng đối với khách hàng khu vực phía Bắc là từ 2-7 ngày. Đối với khách hàng Miền Trung và Miền Nam là từ 7-10 ngày.</p>
    <p class="info-text">- Đối với những sản phẩm không có sẵn trong kho hoặc khách hàng đặt làm riêng thì thời gian giao hàng sẽ được xác định cụ thể trong đơn hàng.</p>
</div>

<div class="row sm-gutter-32">
    <div class="info-contact">
        <div class="pagination"></div>
        <p class="text-brand">NỘI THẤT QUÝ THIỆN</p>
        <p class="info-text-1">Fanpage: <a href="https://www.facebook.com/NoiThatQuyThien" class="text-link">Nội Thất Quý Thiện</a></p>
        <p class="info-text-1">Nội thất Quý Thiện: <a href="https://www.noithatquythien.vn" class="text-link">Tôn vinh ngôi nhà Việt</a></p>
        <p class="info-text-1">Hotline:<a href="tel: 0362 054 555" class="text-link">0362 054 555</a> </p>
        <p class="info-text-1">Giao hàng toàn quốc, thanh toán sau khi nhận và kiểm tra hàng!</p>
    </div>
</div>