<div class="row sm-gutter-32">
    <div class="wrrap-home">
        <a href="/" class="text-home">Trang chủ</a>
        <span class="text-home active-page">>></span>
        <a href="#" class="text-home active-page">Chính sách/Chính sách bảo hành</a>
        <div class="pagination"></div>
        <h1>Chính sách bảo hành</h1>
    </div>
</div>
<div class="row sm-gutter-32">
   <ul class="policy-list">
       <li class="policy-list-item info-text-head">Chính sách bảo hành</li>
            <p class="info-text">Chính sách bảo hành là điều không thể bỏ qua khi mua sản phẩm giá trị cao. Chính sách bảo hành là một lời khẳng định cho chất lượng của sản phẩm. Tại Nội thất Quý Thiện chúng tôi có chính bảo hành cho khách hàng rất linh hoạt để phục vụ tốt nhất cho quý khách hàng. Khách hàng chỉ cần cung cấp số điện thoại mua hàng hoặc xuất trình hoá đơn là căn cứ để bảo hành.</p>
            <ul>
                <li class="text-head-1">1.1 Điều kiện được bảo hành</li>
                    <p class="info-text">- Quý khách mua sản phẩm tại Nội thất Quý Thiện, sản phẩm sẽ được bảo hành miễn phí đối với các trường hợp: Gỗ bị nứt và các lỗi do nhà sản xuất.</p>
                    <p class="info-text">- Thời gian bảo hành: 6 tháng</p>
                <li class="text-head-1">1.2 Trường hợp từ chối bảo hiểm</li>
                    <p class="info-text">Nội thất Quý Thiện từ chối bảo hành sản phẩm đối với các trường hợp:</p>
                    <p class="info-text">- Sản phẩm không được bảo quản tốt (Ví dụ: Phơi ngoài trời nắng hoặc để ánh sáng chiếu trực tiếp, ngâm nước…)</p>
                    <p class="info-text">- Sản phẩm bị hư hỏng và lỗi từ phía khách hàng gây nên như bị gãy vỡ do va chạm, sản phẩm không còn nguyên vẹn do bị động vật cắn…</p>
                    <p class="info-text">- Bảo dưỡng không đúng kỹ thuật như: Dùng xăng để lau chùi sản phẩm, dùng nước sôi để tẩy rửa...</p>
                    <p class="info-text">- Các sản phẩm khuyến mãi, giảm giá.</p>
                    <p class="info-text">- Không áp dụng bảo hành nứt đối với sản phẩm để mộc (Không phun PU).</p>
            </ul>
       <li class="policy-list-item info-text-head">Hướng dẫn bảo hành</li>
            <p class="info-text">- Để thực hiện yêu cầu bảo hành sản phẩm, khách hàng vui lòng kiểm tra tình trạng sản phẩm có đáp ứng đủ điều kiện bảo hành trước khi gửi sản phẩm cho Nội thất Quý Thiện để bảo hành.</p>
            <p class="info-text">- Khách tới trực tiếp cửa hàng tại địa chỉ: Nội thất Quý Thiện xóm 10 tân tiến, xã Hải Minh, huyện Hải Hậu, tỉnh Nam Định.</p>
            <p class="info-text">- Giờ làm việc: 8h - 17h (Làm việc cả thứ 7, chủ nhật).</p>
            <p class="info-text">Khách hàng liên hệ về Hotline:  0362 054 555 hoặc nhắn tin tới Facebook: <a href="https://www.facebook.com/NoiThatQuyThien">https://www.facebook.com/NoiThatQuyThien</a> để báo thông tin sản phẩm cần bảo hành.</p>
         <li class="policy-list-item info-text-head">Thời gian bảo hành</li>
            <p class="info-text">Sau khi nhận phản hồi của quý khách hàng. Nhân viên bảo hành sẽ tới kiểm tra thực tế và xác nhận tình trạng sản phẩm. Tuỳ sản phẩm và mức độ hư hỏng, Nội thất Quý Thiện sẽ hỗ trợ quý khách hàng trong thời gian sớm nhất. Thời gian bảo hành đối với các lỗi đơn giản là 1 ngày, đối với sản phẩm phức tạp thời gian có thể kéo dài hơn.</p>
         <li class="policy-list-item info-text-head">Phí vận chuyển sản phẩm bảo hành</li>
            <p class="info-text">Đối với sản phẩm nhỏ quý khách vui lòng gửi về địa chỉ cửa hàng. Nội thất Quý Thiện miễn phí vận chuyển trong trường hợp sản phẩm bị lỗi sản xuất trong 3 ngày kể từ ngày mua hàng. Đối với sản phẩm lớn nhân viên bảo hành sẽ hỗ trợ xử lý tại nhà cho quý khách hàng. Trong trường hợp bảo hành khác, quý khách thanh toán phí vận chuyển phát sinh.</p>
   </ul>
   <p class="text-head-1 text-note">Lưu ý:</p>
   <p class="info-text">- Nội thất Quý Thiện bảo hành chất gỗ mãi mãi. Trường hợp không đúng chất gỗ đã cam kết cửa hàng hoàn tiền 100% cho khách hàng.</p>
   <p class="info-text">- Trường hợp hết thời hạn bảo hành, Nội thất Quý Thiện nhận sửa chữa sản phẩm hư hỏng (có thu phí, mức phí sửa chữa sẽ giảm 15% so với giá phí sửa chữa sản phẩm không phải do Nội thất Quý Thiện cung cấp).

</p>
</div>
<div class="row sm-gutter-32">
    <div class="info-contact">
        <div class="pagination"></div>
        <p class="text-brand">NỘI THẤT QUÝ THIỆN</p>
        <p class="info-text-1">Fanpage: <a href="https://www.facebook.com/NoiThatQuyThien" class="text-link">Nội Thất Quý Thiện</a></p>
        <p class="info-text-1">Nội thất Quý Thiện: <a href="https://www.noithatquythien.vn" class="text-link">Tôn vinh ngôi nhà Việt</a></p>
        <p class="info-text-1">Hotline:<a href="tel: 0362 054 555" class="text-link">0362 054 555</a> </p>
        <p class="info-text-1">Giao hàng toàn quốc, thanh toán sau khi nhận và kiểm tra hàng!</p>
    </div>
</div>