<div class="row sm-gutter-32">
    <div class="wrrap-home">
        <a href="/" class="text-home">Trang chủ</a>
        <span class="text-home active-page">>></span>
        <a href="#" class="text-home active-page">Chính sách/Chính sách bán hàng</a>
        <div class="pagination"></div>
        <h1>Chính sách bán hàng</h1>
    </div>
</div>

<div class="row sm-gutter-32">
   <ul class="policy-list">
       <li class="policy-list-item info-text-head">Chính sách sản phẩm</li>
            <ul class="info-text policy-1">
                <li class="info-text">- Đưa ra thị trường những sản phẩm đồ gỗ mỹ nghệ được đục hoặc khảm tinh xảo bởi nghệ nhân có tay nghề cao. Các sản phẩm được sản xuất bằng thủ công hoặc bằng máy kết hợp thủ công và được thông tin đầy đến Khách hàng với từng sản phẩm cụ thể.</li>
                <li class="info-text">- Tất cả các sản phẩm Nội thất Quý Thiện cung cấp cho khách hàng đều là những sản phẩm chất lượng cao và đảm bảo tính kỹ thuật, mỹ thuật, Sản phẩm được sản xuất bởi 100% gỗ cùng loại với cam kết, không bị nứt lẻ khi giao hàng và không bị mối, mọt, bám giác.</li>
                <li class="info-text">- Giá cả hợp lý và tương xứng với chất lượng.</li>
                <li class="info-text">- Bảo hành tại làng nghề 2, xã Hải Minh, Huyện Hải Hậu, Tỉnh Nam Định hoặc tại địa chỉ khách hàng nhưng sẽ tính thêm phí đi lại theo giá xe khách (02 chiều).</li>
            </ul>
       <li class="policy-list-item info-text-head">Chính sách vận chuyển</li>
        <ul>
            <li class="text-head-1">2.1 Đối tượng áp dụng</li>
                <p class="info-text">- Chính sách được áp dụng tất cả các đối tượng khách hàng mua sản phẩm của Nội thất Quý Thiện qua mạng hoặc trực tiếp tại cửa hàng.</p>
            <li class="text-head-1">2.2 Hình thức vận chuyển</li>
                <p class="info-text">- Gói vận chuyển “Giao hàng tiêu chuẩn” được áp dụng với tất cả các đơn hàng trên toàn quốc.</p>
            <li class="text-head-1">2.3 Phí vận chuyển</li>
                <p class="info-text">- Tùy khoảng cách địa lí và sản phẩm sẽ có những mức phí vận chuyển khác nhau.</p>
                <p class="info-text">- Giá bán sản phẩm chưa bao gồm phí vận chuyển. Phí vận chuyển khoảng 5% giá trị đơn hàng.</p>
            <li class="text-head-1">2.4 Thời gian nhận hàng</li>
                <p class="info-text">- Hà Nội và các tỉnh miền Bắc: 1-2 ngày sau khi xác nhận đơn hàng.</p>
                <p class="info-text">- TP-HCM: 5-7 ngày kể từ ngày xác nhận đơn hàng.</p>
            <li class="text-head-1">2.5 Những lưu ý khi nhận hàng</li>
                <p class="info-text">- Quý khách hàng vui lòng kiểm tra sản phẩm ngay tại chỗ trước khi thanh toán (nếu có) cho nhân viên giao hàng.</p>
                <p class="info-text">- Dịch vụ vận chuyển của Nội thất Quý Thiện sẽ chịu trách nhiệm với hàng hóa và các rủi ro như mất mát hoặc hư hại của hàng hóa trong suốt quá trình vận chuyển hàng từ kho hàng Nội thất Quý Thiện đến khách hàng.</p>
                <p class="info-text">- Khi sản phẩm được giao tới, sản phẩm phải còn nguyên đai, nguyên kiện, còn niêm phong, chưa có dấu hiệu bóc mở... nếu khách hàng thấy bất thường có thể từ chối nhận hàng và liên hệ ngay Bộ phận chăm sóc khách hàng của để xử lý.</p>
                <p class="info-text">- Khách hàng có trách nhiệm kiểm tra hàng hóa khi nhận hàng. Khi phát hiện sai hàng hóa, sai kích thước, sai màu sắc thì ký xác nhận tình trạng hàng hóa với Nhân viên giao nhận và thông báo ngay cho Bộ phận Chăm sóc khách hàng của Nội thất Quý Thiện</p>
                <p class="info-text">- Sau khi khách hàng đã ký nhận hàng mà không ghi chú hoặc có ý kiến về hàng hóa. Nội thất Quý Thiện không có trách nhiệm với những yêu cầu đổi trả vì những lý do trên… từ khách hàng sau này.</p>
                <p class="info-text">- Cam kết tất cả các sản phẩm mà Nội thất Quý Thiện giao tới khách hàng đều là sản phẩm từ Nội thất Quý Thiện phân phối và không có hàng nhái hàng kém chất lượng.</p>
        </ul>
       <li class="policy-list-item info-text-head">Chính sách bảo mật thông tin</li>
            <ul>
                <li class="text-head-1">3.1 Mục đích</li>
                    <p class="info-text">- Nội thất Quý Thiện tôn trọng sự riêng tư, muốn bảo vệ thông tin cá nhân. "Chính sách bảo mật" dưới đây là những cam kết mà chúng tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người dùng.</p>
                <li class="text-head-1">3.2 Quy định cụ thể</li>
                    <ul>
                        <li class="info-text">- Thu thập thông tin</li>
                        <li class="info-text">- Lưu trữ và bảo mật thông tin riêng</li>
                        <li class="info-text">- Sử dụng thông tin khách hàng</li>
                    </ul>
                <li class="text-head-1">3.3 Liên kết với website khác</li>
                        <p class="info-text">- Khách hàng có trách nhiệm bảo vệ thông tin tài khoản của mình và không cung cấp bất kỳ thông tin nào liên quan đến tài khoản và mật khẩu truy cập trên https://goanphat.com trên các website khác.</p>
                <li class="text-head-1">3.4 Chia sẻ thông tin khách hàng</li>
                    <p class="info-text">Nội thất Quý Thiện cam kết sẽ không chia sẻ thông tin của khách hàng cho bất kỳ một công ty nào khác ngoại trừ những công ty và các bên thứ ba có liên quan trực tiếp đến việc giao hàng. Chúng tôi có thể tiết lộ hoặc cung cấp thông tin cá nhân của quý khách trong các trường hợp thật sự cần thiết như sau:</p>
                    <ul>
                        <li class="info-text">- Khi có yêu cầu của các cơ quan pháp luật.</li>
                        <li class="info-text">- Chia sẻ thông tin khách hàng với đối tác chạy quảng cáo như Google (Ví dụ như tiếp thị lại khách hàng dựa theo hành vi của khách hàng).</li>
                        <li class="info-text">- Nghiên cứu thị trường và các báo cáo phân tích và tuyệt đối không chuyển cho bên thứ ba.</li>
                    </ul>
                <li class="text-head-1">3.5 Sử dụng Cookie</li>
                    <p class="info-text">Khi khách hàng sử dụng dịch vụ hoặc xem nội dung do Nội thất Quý Thiện cung cấp, chúng tôi tự động thu thập và lưu trữ một số thông tin trong nhật ký máy chủ. Những thông tin này bao gồm:</p>
                    <ul>
                        <li class="info-text">- Các chi tiết về cách khách hàng sử dụng dịch vụ của Nội thất Quý Thiện chẳng hạn như truy vấn tìm kiếm.</li>
                        <li class="info-text">- Địa chỉ giao thức Internet.</li>
                        <li class="info-text">- Thông tin sự cố thiết bị như lỗi, hoạt động của hệ thống, cài đặt phần cứng, loại trình duyệt, ngôn ngữ trình duyệt, ngày và thời gian bạn yêu cầu và URL giới thiệu.</li>
                        <li class="info-text">- Cookie có thể nhận dạng duy nhất trình duyệt hoặc Tài khoản của khách hàng</li>
                    </ul>
            </ul>
   </ul>
</div>

<div class="row sm-gutter-32">
    <div class="info-contact">
        <div class="pagination"></div>
        <p class="text-brand">NỘI THẤT QUÝ THIỆN</p>
        <p class="info-text-1">Fanpage: <a href="https://www.facebook.com/NoiThatQuyThien" class="text-link">Nội Thất Quý Thiện</a></p>
        <p class="info-text-1">Nội thất Quý Thiện: <a href="https://www.noithatquythien.vn" class="text-link">Tôn vinh ngôi nhà Việt</a></p>
        <p class="info-text-1">Hotline:<a href="tel: 0362 054 555" class="text-link">0362 054 555</a> </p>
        <p class="info-text-1">Giao hàng toàn quốc, thanh toán sau khi nhận và kiểm tra hàng!</p>
    </div>
</div>

