<div class="row sm-gutter-32">
    <div class="wrrap-home">
        <a href="/" class="text-home">Trang chủ</a>
        <span class="text-home active-page">>></span>
        <a href="#" class="text-home active-page">Chính sách/Chính sách giảm giá - tri ân</a>
        <h1>Chính sách khuyến mãi - tri ân.</h1>
        <div class="pagination"></div>
    </div>
</div>

<div class="row sm-gutter-32">
    <p class="info-text">Với tiêu chí lấy khách hàng là trung tâm, Nội thất Quý Thiện luôn mong muốn mang đến cho Quý khách hàng những trải nghiệm mua sắm tiện ích và thoải mái nhất, với các chính sách khuyến mãi và hậu mãi hấp dẫn:</p>
    <p class="info-text">- Các chương trình khuyến mãi lớn sẽ được áp dụng 02 lần/ 1 năm.</p>
    <p class="info-text">- Các chương trình khuyến mãi vào các dịp lễ tết, lễ truyền thống lớn.</p>
    <p class="info-text">Nội thất Quý Thiện xin được bày tỏ lòng cảm ơn sâu sắc nhất tới quý khách hàng, các đối tác, những người đã luôn tin tưởng và hợp tác và đồng hành với đại lí trong khoảng thời gian qua.
        Sự ủng hộ và tin tưởng của quý khách luôn là động lực cho chúng tôi phát triển và giữ gìn những nét đẹp truyền thống mỹ nghệ của dân tộc. Đề bày tỏ lòng biết ơn và trân trọng đối với những quý khách hàng - những
        người luôn ủng hộ và tin tưởng chúng tôi, chúng tôi:
    </p>
    <p class="info-text">- Áp dụng chính sách giảm giá tối thiểu 5% (tùy sản phẩm) cho những quý khách hàng mua sản phẩm từ lần 2 tại đại lí.</p>
    <p class="info-text">- Quý khách hàng được sử dụng toàn bộ các chính sách bảo hành, đổi trả miễn phí.</p>
    <p class="info-text">- Cơ hội nhận được các chính sách quà tặng, tri ân hấp dẫn.</p>
    <p class="info-text">- Cơ hội trở thành khách hàng thân thiết với mức độ ưu đãi cao nhất.</p>
    <p class="info-text-head">Chúng tôi-các bạn-nâng niu tôn vinh nội thất, ngôi nhà Việt!</p>
</div>
<div class="row sm-gutter-32">
    <div class="info-contact">
        <div class="pagination"></div>
        <p class="text-brand">NỘI THẤT QUÝ THIỆN</p>
        <p class="info-text-1">Fanpage: <a href="https://www.facebook.com/NoiThatQuyThien" class="text-link">Nội Thất Quý Thiện</a></p>
        <p class="info-text-1">Nội thất Quý Thiện: <a href="https://www.noithatquythien.vn" class="text-link">Tôn vinh ngôi nhà Việt</a></p>
        <p class="info-text-1">Hotline:<a href="tel: 0362 054 555" class="text-link">0362 054 555</a> </p>
        <p class="info-text-1">Giao hàng toàn quốc, thanh toán sau khi nhận và kiểm tra hàng!</p>
    </div>
</div>