
<div class="row sm-gutter-32">
    <div class="wrrap-home">
        <a href="/" class="text-home">Trang chủ</a>
        <span class="text-home active-page">>></span>
        <a href="#" class="text-home active-page">Chính sách/Chính sách hoạt động</a>
        <h1>Chính sách hoạt động</h1>
        <div class="pagination"></div>
    </div>
</div>

<div class="row sm-gutter-32">
 <div class="operate mt-36">
     <img src="/img/operate.png" alt="Quy trình mua hàng" class="operate-img">
 </div>
</div>

<div class="row sm-gutter-32">
    <div class="info-contact">
        <div class="pagination"></div>
        <p class="text-brand">NỘI THẤT QUÝ THIỆN</p>
        <p class="info-text-1">Fanpage: <a href="https://www.facebook.com/NoiThatQuyThien" class="text-link">Nội Thất Quý Thiện</a></p>
        <p class="info-text-1">Nội thất Quý Thiện: <a href="https://www.noithatquythien.vn" class="text-link">Tôn vinh ngôi nhà Việt</a></p>
        <p class="info-text-1">Hotline:<a href="tel: 0362 054 555" class="text-link">0362 054 555</a> </p>
        <p class="info-text-1">Giao hàng toàn quốc, thanh toán sau khi nhận và kiểm tra hàng!</p>
    </div>
</div>

