$white-color: #fff!important;
$black-color: #000!important;
$text-color: #F0ECEB!important;
$border-color: #dbdbdb!important;
$primary-color: rgb(241, 30, 30)!important;
$navbar-height: 60px;
$color-main-2: #9b5844;
$color-main-1: #6b160f;
$header-height: 60px;