<div class="row sm-gutter-32">
    <div class="wrrap-home">
        <a href="/" class="text-home">Trang chủ</a>
        <span class="text-home active-page">>></span>
        <a href="#" class="text-home active-page">Liên hệ</a>
        <div class="pagination"></div>
        <h1>Liên hệ</h1>
    </div>
</div>
<div class="row sm-gutter-32">
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d9447.423842102651!2d106.25850859569445!3d20.23980898859346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x31360950e866c559%3A0x5d582aef11520771!2zWMOzbSAzNiwgSOG6o2kgTWluaCwgSOG6o2kgSOG6rXUsIE5hbSDEkOG7i25oLCBWaeG7h3QgTmFt!3m2!1d20.2372363!2d106.25976299999999!5e0!3m2!1svi!2s!4v1648188993970!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="row sm-gutter-32">
    <div class="wraap-contact">
        <h2 class="text-brand">NỘI THẤT QUÝ THIỆN</h2>
        <p class="info-text">Địa chỉ: xóm 10 Tân Tiến, xã Hải Minh, huyện Hải Hậu, tỉnh Nam Định.</p>
        <p class="info-text" >Điện thoại: <a href="tel:0362-054-555" class="text-link">0362-054-555</a> </p>
        <p class="info-text">Email: <a href="mailto:lienhe@noithatquythien.vn" class="text-link">lienhe@noithatquythien.vn</a></p>
        <p class="info-text">Website: <a href="https://www.noithatquythien.vn" class="text-link">www.noithatquythien.vn</a></p>
        <p class="info-text mt-36" style="color: rgb(238, 140, 13);">Mọi ý kiến thắc mắc vui lòng liên hệ theo form dưới đây</p>
        <form class="form-submit" action="/" method="POST">
            <div class="form-control">
                <label for="name" class="input-name  info-text">Họ tên</label>
                <input class="input-desc" id="name" name="name" type="text" placeholder="Nhập họ tên">
            </div>
            <div class="form-control">
                <label for="tel" class="input-name info-text">Số điện thoại</label>
                <input class="input-desc" id="tel" name="tel" type="tel" placeholder="Nhập số điện thoại" >
            </div>
            <div class="form-control">
                <label for="email" class="input-name info-text">Email</label>
                <input class="input-desc" id="email" name="email" type="email" placeholder="Ví dụ: nguyenvana@gmail.com">
            </div>
            <div class="form-control input-item-last ">
                <label for="question" class="input-name info-text">Câu hỏi</label>
                {{!-- <input class="input-desc" id="question" type="text" placeholder="Vui lòng nhập câu hỏi"> --}}
                <textarea class="input-name" name="question" id="question" style=" width:100%"  placeholder="Vui lòng nhập câu hỏi!"></textarea>
            </div>
            <button class="btn-submit" type="submit">Gửi thông tin</button>
        </form>
    </div>
</div>