

<div class="row sm-gutter-32">
  <div class="col l-12 m-12 c-12">
       <div class="wrrap-home">
        <a href="/" class="text-home">Trang chủ</a>
        <span class="text-home active-page">>></span>
        <a href="#" class="text-home active-page">Giới thiệu</a>
        <div class="pagination"></div>
        <h1>Giới thiệu</h1>
    </div>
  </div>
</div>
<div class="row sm-gutter-32 ">
    <div class="col l-4 m-4 c-12">
        <div class="wrrap-logo">
            <img class="info-logo-img" src="/img/logo.png" width="200px" alt="">
        </div>
    </div>
    <div class="col l-8 m-8 c-12 ">
        <div class="wrapp-info-header">
            <h2 class="intro-brand text-brand">NỘI THẤT QUÝ THIỆN</h2>
            <ul class="intro-list">
                <li class="intro-item">
                    <span class="intro-item-head">Tên tiếng anh:</span>
                    <span class="intro-item-desc">Quy Thien FURNITURE</span>
                </li>
                <li class="intro-item">
                    <span class="intro-item-head">Trụ sở:</span>
                    <span class="intro-item-desc">xóm 10 Tân Tiến, xã Hải Minh, huyện Hải Hậu, tỉnh Nam Định.</span>
                </li>
                <li class="intro-item">
                    <span class="intro-item-head">VPGD:</span>
                    <span class="intro-item-desc">xóm 10 Tân Tiến, xã Hải Minh, huyện Hải Hậu, tỉnh Nam Định.</span>
                </li>
                <li class="intro-item">
                    <span class="intro-item-head">Điện thoại:</span>
                    <span class="intro-item-desc"><a  class="text-link" href="tel: 0362-054-555">0362-054-555</a></span>
                </li>
                <li class="intro-item">
                    <span class="intro-item-head">Email:</span>
                    <span class="intro-item-desc"> <a href="mailto:lienhe@noithatquythien.vn" class="text-link">lienhe@noithatquythien.vn</a></span>
                </li>
                <li class="intro-item">
                    <span class="intro-item-head">Website:</span>
                    <span class="intro-item-desc"> <a href="https://www.noithatquythien.vn" class="text-link">www.noithatquythien.vn</a></span>
                </li>
            </ul>
        </div>

    </div>

    <div class="col l-12 m-12 c-12  info-content">
        <p class="info-text"> Ngày nay, bên cạnh sự yêu chuộng với các thiết kế nội thất hiện đại, thì các phong cách thiết kế nội thất truyền thống vẫn giữ vững một vị trí yêu thích quan trọng trong con mắt những người yêu quý nội thất và tranh hoàng cho tổ ấm của mình.</p>
        <p class="info-text">Nhắc đến đồ gỗ mĩ nghệ, những tín đồ theo phong cách nội thất truyền thống không thể nào không biết đến Hải Minh- làng nghề truyền thống đồ gỗ mĩ nghệ lâu đời. Với bàn tay khéo léo, tinh xảo của những con người nơi đây, nội thất Hải Minh vẫn giữ được nét truyền thống, sang trọng đến từng chi tiết. </p>
        <p class="info-text">Trong bối cảnh ngày một mai một của các làng nghề truyền thống, Nội Thất Quý Thiện được thành lập với mong muốn giữ gìn và phát triển những tinh hoa của làng nghề truyền thống, lấy chữ tín làm tôn chỉ hoạt động và phát triển bền vững. </p>
        <p class="info-text-head">Sứ mệnh</p>
        <p class="info-text">Giữ gìn phát triển tôn vinh nội thất việt</p>
        <p class="info-text-head">Tầm nhìn</p>
        <p class="info-text">Bằng khát vọng và tiên phong trong sự đổi mới của nội thất, chúng tôi phấn đấu trở thành một công ty hàng đầu trong lĩnh vực sản xuất nội thất, đưa nội thất Việt nói chung và nội thất truyền thống Hải Minh nói riêng trở thành một nét đẹp truyền thống của người Việt.</p>
        <p class="info-text-head">Giá trị cốt lõi</p>
        <ul class="info-text-list">
            <li class="info-text">Uy tín chất lượng: lấy con người làm trung tâm, và luôn đặt chữ Tín làm vũ khí cạnh tranh và bảo vệ danh dự của mình.</li>
            <li class="info-text">Gìn giữ: gìn giữ  nét đẹp tinh hoa nội thất truyền thống.</li>
            <li class="info-text">Sáng tạo đổi mới: không ngừng học hỏi, sáng tạo và đổi mới nhằm tạo ra các sản phẩm ngày càng chất lượng và tinh xảo hơn.</li>
            <li class="info-text">Cam kết: Cung cấp sản phẩm, dịch vụ Chất lượng tốt và đúng với những thông tin đã cung cấp cho khách hàng.</li>
            <li class="info-text">Chia sẻ: cộng hưởng và chia sẻ lợi ích với cộng đồng</li>
        </ul>
        <p class="info-text-head">Lĩnh vực kinh doanh</p>
        <ul class="info-text-list">
            <li class="info-text">Mua  bán  sản xuất theo yêu cầu các sản phẩm đồ gỗ mỹ nghệ trạm khắc, sơn thiếp và khảm ốc như: Trường kỷ, bàn ghế salong, bàn ghế hoàng gia, Bàn ghế ăn, Sập gỗ, Tủ chè, Tủ Kệ trang trí, Hoành phi, cuốn thư, câu đối, bàn thờ, giường gỗ, tranh gỗ, đồng hồ quả lắc và nhiều sản phẩm đồ gỗ mỹ nghệ khác.</li>
            <li class="info-text">Nhận sản xuất theo yêu cầu các sản phẩm đồ gỗ mỹ nghệ</li>
            <li class="info-text">Tư vấn, thiết kế, thi công nội, ngoại thất các công trình nhà ở và các công trình khác.</li>
        </ul>
        <p class="info-text-head">Thông tin đăng kí bản quyền tác giả</p>
        <img src="/img/certification.jpg" width="70%" alt="Đăng kí bản quyền tác giả">
        <img src="/img/register.webp" width="300px" alt="Đã thông báo bộ công thương">
    </div>
</div>
