<div class="mt-4">
    <form method="POST" action="">
    <div class="form-group">
        <label for="search-input" >Từ khóa</label>
        <input type="text" name="q" class="form-control" id="search-input" aria-describedby="Nhap tu khoa">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>